html {
  box-sizing: border-box;
  height: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  font-family: "Exo 2",Lato,"PT Sans",-apple-system,BlinkMacSystemFont,Roboto,Ubuntu,"Droid Sans","Helvetica Neue",Arial,sans-serif;
  font-size: 1rem;
}

div, p {
  margin: 0;
  padding: 0;
}

.search {
  display: flex;
  margin: 1.8rem auto;
  max-width: 60%;
  transition: all 0.9s;
}

.search--middle {
  transform: translateY(40vh) scale(1.5);
}

.search--upper {
  transform: translateY(0vh) scale(1);
}

.search__input {
  background-color: #eee;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3Csvg%20viewBox%3D%220%200%201792%201792%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20fill%3D%22currentColor%22%20d%3D%22M1216%20832q0-185-131.5-316.5t-316.5-131.5-316.5%20131.5-131.5%20316.5%20131.5%20316.5%20316.5%20131.5%20316.5-131.5%20131.5-316.5zm512%20832q0%2052-38%2090t-90%2038q-54%200-90-38l-343-342q-179%20124-399%20124-143%200-273.5-55.5t-225-150-150-225-55.5-273.5%2055.5-273.5%20150-225%20225-150%20273.5-55.5%20273.5%2055.5%20225%20150%20150%20225%2055.5%20273.5q0%20220-124%20399l343%20343q37%2037%2037%2090z%22/%3E%0A%3C/svg%3E');
  background-position: 0.3rem center;
  background-repeat: no-repeat;
  background-size: 1.5rem;
  border: 1px solid #aaa;
  border-right: 0px;
  border-radius: 5px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  display: block;
  flex: 1 1 auto;
  font-size: 1rem;
  min-height: 2rem;
  min-width: 30%;
  padding-left: 2.3rem;
  transition: all 0.9s;
}

.search__input:focus {
  outline: none;
}

.search__input--middle {
  background-color: #fff;
  border: 1px solid #fff;
  border-bottom: 1px solid #777;
  border-radius: 0;
  margin: auto;
}


/* .search__btn {
  background-color: #eee;
  border: 1px solid #aaa;
  font-size: 1rem;
}

.search__btn:last-child {
  border-bottom-right-radius: 5px;
  border-left: 0px;
  border-top-right-radius: 5px;
} */

.search__btn {
  background-color: #fff;
  border: 1px solid #aaa;
  border-left: none;
  opacity: 1;
  z-index: 2;
  transition: all 0.3s ease-in-out;
}

.search__btn--middle {
  background-color: #eee;
  border: 1px solid #fff;
  border-bottom: 1px solid #777;
}


.search__btn--emphasis {

}


.external__data {
  display: flex;
  flex-direction: column;
}

.media-box {
  /* background-color: #FDF5E6; */
  background-color: #eee;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin: 0.5rem;
  opacity:1;
  transform:translateY(0%);
  transition:all .3s;
}

.--slide-from-top {
  opacity:0;
  transform:translateY(-10%);
}

.--slide-to-bottom {
  opacity:0;
  transform:translateY(10%);
}


.media-box__title {
  font-size: 1.2rem;
  font-weight: 700;
}

.media-box__container {
  display: flex;
}

.media-box__image {
  padding-right: 0.6rem;
}

.media-box__text {
  font-weight: 500;
}