html {
  height: 100%;
}

body {
  font-family: "Exo 2",Lato,"PT Sans",-apple-system,BlinkMacSystemFont,Roboto,Ubuntu,"Droid Sans","Helvetica Neue",Arial,sans-serif;
  font-size: 1rem;
  background-color: #fff;
}

.external__data {
  display: flex;
  flex-direction: column;
}

.media-box {
  background-color: #FDF5E6;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin: 0.5rem;
  opacity:1;
  transform:translateY(0%);
  transition:all .3s;
}

.--slide-from-top {
  opacity:0;
  transform:translateY(-100%);
}

.--slide-to-bottom {
  opacity:0;
  transform:translateY(100%);
}


.media-box__title {
  font-size: 1.2rem;
  font-weight: 700;
}

.media-box__container {
  display: flex;
}

.media-box__image {
  height: 300px;
}

.media-box__text {
  font-weight: 500;
}